<!doctype html>
<html xmlns:th="http://www.thymeleaf.orf" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is Registration page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row">
			
				<div class="col-md-8 offset-md-2">
				
	
					 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
		             </div>
					
					
					<div class="container text-center">
			
					
					</div>
					
					  <h1 class="text-center" style="color: red;">Register Here !!</h1>
					  
					  <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${admin}" >
					  
					  
					  	<!-- name field  -->
					  
					  
					  	 <div class="form-group">
					  	 
						    <label for="name_field" style="color: black;">NAME</label>
						    
						    <input 
						      name="username"
						      type="text"
						      class="form-control "
						      th:classappend="${#fields.hasErrors('username') ? 'is-invalid':''}"
						      id="name_field" 
						      aria-describedby="emailHelp"
						      placeholder="Enter here"
						      required
						      th:value="${admin.username}"
						       />
						       
						       
						        <div class="invalid-feedback" th:each="e : ${#fields.errors('username')}" th:text="${e}">
       								 
     							 </div>
						    
						    
  						</div>
					  
					  	<!-- email field  -->
					  
					  
					  	 <div class="form-group">
					  	 
						    <label for="email_field" style="color: black;">EMAIL</label>
						    
						    <input 
						     name="email"
						      type="email"
						      class="form-control"
						      id="email_field" 
						      aria-describedby="emailHelp"
						      placeholder="Enter here"
						      required
						      th:value="${admin.email}"
						       />
						    
						    
  						</div>
					  	<!-- password field  -->
					  
					  
					  	 <div class="form-group">
					  	 
						    <label for="password_field" style="color: black;">PASSWORD</label>
						    
						    <input 
						    
						      name="password"
						      type="password"
						      class="form-control"
						      id="password_field" 
						      aria-describedby="emailHelp"
						      placeholder="Enter here"
						      required
						      
						       />
						       
						       	</div>
					  	<!-- registration id field  -->
					  
					  
					  	 <div class="form-group">
					  	 
						    <label for="registration_id" style="color: black;">Registration Id</label>
						    
						    <input 
						    
						      name="id"
						      type="number"
						      class="form-control"
						      id="registrationid_field" 
						      aria-describedby="emailHelp"
						      placeholder="Enter here"
						      required
						      
						       />
						   
						   
						   <div class= "container text-center">
  						<div class="form-check form-check-inline mt-2">
						  <input class="form-check-input" type="radio" name="radio" id="radio">
						  <label class="form-check-label" for="inlineRadio1">ADMIN</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="radiouser" id="radiouser">
						  <label class="form-check-label" for="inlineRadio2">USER</label>
						</div>
  						</div>			
  						
  						
  						<!-- terms and condition agreement  -->
  						
  						
  						<div class="form-group form-check text-center mt-2">
  						
  								<input type="checkbox" 
  								name="agreement"
  								class="form-check-input"
  								id="agreement"
  								
  								/>	
  								
  								<label for="agreement">Accept terms and conditions</label>
  						</div>
  							
  						
  						<div class="container text-center">
  						
  						<button type="submit" class="btn bg-primary  text-white">
  							Submit
  						</button>
  						<button type="reset" class="btn btn-warning ">
  							Reset
  						</button>
  						
  						</div>
					  
					  
					  
					  </form>
				
					
					</div>
				
				</div>
			
			
			</div>
		
		</div>
	
	</section>
</body>
</html>