=<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="userbase::userlayout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
		<div class="card-body">
		<h1 class="text-center">ATTENDANCE</h1>
		
		
		<table class="table">
		<thead>
		<tr>
		<th scope="col">DATE</th>
		<th scope="col">ATTENDANCE</th>
		
	
		</tr>
		</thead>
  <tbody>
    <tr th:each="c : ${attendancedate}">
      <td th:text="${c.date}"> s</td>
      <td th:text="${c.attends}">1</td>

       </tr>
		<form th:action="@{'/user/' + ${emailid} + '/attendance-report/' + ${subid}}" class="mt-2" > 
 
       <button type="submit" class="btn btn-primary btn-sm float-right">ATTENDANCE REPORT</button></form>  
  </tbody>
</table>