<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="userbase::userlayout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
		<div class="card-body">
		<h1 class="text-center">MARKS</h1>
		
		
		
		<table class="table">
		<thead>
		<tr>
		<th scope="col">#MID</th>
		<th scope="col">SUBJECT NAME</th>
		<th scope="col">SUBJECT CODE</th>
		<th scope="col">MID TERM MARKS</th>
		<th scope="col">END TERM MARKS</th>
		<th scope="col">CLASSTEST MARKS</th>
		</tr>
		</thead>
  <tbody>
    <tr th:each="c : ${marks}">
      <th scope="row" th:text="${'MID-'+c.mid}" >1</th>
      <td th:text="${c.subjectname}"> s</td>
      <td th:text="${c.subcode}">1</td>
      <td th:text="${c.midterm}">4</td>
      <td th:text="${c.endterm}">3</td>
      <td th:text="${c.classtest}">2</td>
    </tr>
  </tbody>
</table>
		</div>
		</div>
	</section>
</body>
</html>